@import url('bootstrap');
@import url('bootstrap-icons');
@import "/node_modules/flag-icons/css/flag-icons.min.css";



 #changeFilm_hover {
    height: 342px;
}

#description_film {
    height: 100%;
    overflow-y: scroll;
}

/* hover per far sparire immagine e uscire descrizione */

#description_film {
    display: none;
}

#description_serietv {
    display: none;

}

#changeFilm_hover:hover {

    #image_film {
        display: none; 
    }

    #description_film {
        display: block;
    }
}

#changeSerietv_hover:hover {

    #image_serietv {
        display: none; 
    }

    #description_serietv {
        display: block;
    }
}